html {
	height:100%;
}

body {
    overflow-x: hidden;
	background-color: #f9f9f9!important;
	text-decoration: none;
	height:100%;
}

.main-wrapper {
	min-height: 100%;
}

footer {
	height: 48px;
	margin-top: -48px;
}

.container-fluid {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #444444;
}

.thick-line {
	line-height: 48px;
}

.thick-line a {
	color: #f9f9f9!important;
	font-family: "Helvetica Neue", Helvetica, sans-serif, "Lucida Grande", Arial;
	font-size: 13px;
	font-weight: 600;
	text-decoration: none;
	transition: all 0.1s;
}

.thick-line a:hover{
	color:#000!important;
	text-decoration: none;
}

.logo {
    padding-top:38px!important;
    padding-bottom:38px!important;
    margin:0px!important;
	background-color: #f9f9f9!important;
}

.ts-btn {
    cursor: pointer;
    text-decoration: inherit;
    padding: 0px;
}

.ts-btn:hover {
    background-color: #fff;
    color: #000;
}

.tales {
    width: 80%;
}

.carousel-inner{
    width: 80%;
    max-height: 600px !important;
}

.carousel-text {
	text-shadow: 2px 2px #000;
}

@media only screen and (max-width: 1024px) {
	.carousel-text h1 {
		font-size: 1.2rem;
	}
	.carousel-text h5 {
		font-size: 0rem;
		line-height: 0px;
		display: none;
	}
}

.ts-img {
    max-width:64px!important;
	height: 64px;
	filter: grayscale(100%);
	opacity: 0.4;
	transition: all 0.1s;
}

.ts-img:hover {
	filter: grayscale(0%);
	opacity: 1;
	transition: all 0.25s;
}

.img-ts {
	background-image: url('img/ts_logo_c.png');
}

.img-vk {
    background-image: url('img/vk_logo_c.png');
}

.img-yt {
    background-image: url('img/yt_logo_c.png');
}

.img-st {
    background-image: url('img/st_logo_c.png');
}

.img-discord {
	background-image: url('img/discord_logo_c.png');
}


.roundel {
	background-color: #444444;
	border-radius: 50%;	
	width: 65px;
	height: 65px;
	margin: auto; 
}

.row-item-header {
	font-size: 24px;
	line-height: 34px;
	padding: 10px 5px 15px 5px;
	border-bottom: 1px solid #ddd;
}

.row-item {
	padding-bottom: 64px;
}

.row-item-title {
	font-size: 15px;
	font-weight: bold;
}

.row-item-left-pane {
	display: inline-block;
	font-size: 13px;
}

.row-item-right-pane {
	border-left: 1px solid #ddd;
	display: inline-block;
	font-size: 13px;
}

.row-item-central-pane {
	display: inline-block;
	font-size: 13px;
	padding: 15px 10px 0px 10px;
}

.row-item-pane-bg-aar {
	background-image: url('img/bg_aar.png');
	background-size: 1460px;
}

.row-item-pane-bg-missions {
	background-image: url('img/bg_missions.png');
	background-size: 1460px;
}

.row-item-pane-bg-gaming {
	background-image: url('img/bg_gaming.png');
	background-size: 1460px;
}

.copyable-input {
	width: 225px;
	height: 25px;
	resize: none;
	font-weight: bold;
	overflow: hidden;
	vertical-align: top;
	color: rgb(68, 68, 68);
	border-color: #ddd;
	background-color: #f9f9f9;
}

.ts-link {
	color: #3b3b3b;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;

	padding: 10px;
	border: 1px solid #444;
	transition: all 0.1s;
}

.ts-link:hover {
	color: #3b3b3b;
	text-decoration: none;

	background-color: #444;
	color: #f9f9f9;
}

.ts-button-block {	
}

.ts-button-block button {
	background: none;
	cursor: pointer;
	outline: inherit;
	text-decoration: none;
	color: #3b3b3b;
	font-weight: bold;
	font-size: 13px;

	padding: 10px;
	margin: 0px 0px 5px 0px;
	border: 1px solid #444;
	transition: all 0.1s;
}

.ts-button-block button:hover {
	background-color: #444;
	color: #f9f9f9;
	transition: all 0.1s;
}

.ts-button-block button:hover a {
	background-color: #444;
	color: #f9f9f9;
	transition: all 0.1s;
}

.ts-button-block button a {
	text-decoration: none;
	color: #3b3b3b;
}


.img-a3 {
	background-image: url('img/arma3.png');
	background-size: 65px;
}

.img-ts3 {
	background-image: url('img/ts3.png');
	background-size: 65px;
}

.img-rules {
	background-image: url('img/rules.png');
	background-size: 65px;
}

.img-ws {
	background-image: url('img/ws.png');
	background-size: 65px;
}

.img-preset-guide {
	background-image: url('img/ts_launcher.png');
	background-size: 256px;
	height: 64px;
}

.list-group-good {
	border-right: 3px solid #ace600!important;
	border-bottom: 1px solid #ace600!important;
}

.list-group-bad {
	border-right: 3px solid rgb(179, 10, 10)!important;
	border-bottom: 1px solid rgb(179, 10, 10)!important;
}

.row-list-item {
	font-weight: 500;
	font-size: 17px;
}

.list-group-item {
	font-size: 15px;
}

.topic-header {
	background-color: #343a40;
    color: #f9f9f9;
    padding: 5px;
	margin-bottom: 25px;
	margin-top: 25px;
}

.text-p {
	text-align: justify!important;
}

.text-p a {
	color: #8e0000;
	
}

.text-p a:hover {
	color: #c52334;
}

.info {
	padding: 5px 20px 5px 20px;
	background: #ffe6e6;
	border-radius: 0px 12px 12px 12px;
}

highlight {
	background-color: #e3e3e3;
    border: 3px solid #e3e3e3;
    border-radius: 5px;
}

warn {
	color: red;
}

key {
    background-color: #f1f1f1;
    text-align: center;
    border-left: 1px solid #cfcfcf;
    border-top: 1px solid #cfcfcf;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    -moz-border-radius: 4px 4px 4px 4px;
    padding-left: 1px;
    padding-top: 0;
    padding-right: 2px;
    padding-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: top;
    font-family: sans-serif;
    white-space: nowrap;
}

