
<div class="text-center content-wrapper">
    <div class="container-fluid">
        <div class="row row-item">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 row-item-pane-bg-missions">
                <div class="row-item-central-pane">
                    <p class="row-item-title">Список миссий</p>
                    <p>Все миссии нашего сообщества - выбирай и предлагай, если хочешь повторить опыт!</p>
                    <br>
                    <a target="_blank" href="/list/">
                        <div class="ts-button-block">
                            <button>Перейти ►</button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row row-item">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 row-item-pane-bg-aar">
                <div class="row-item-central-pane">
                    <p class="row-item-title">After Action Reports</p>
                    <p>Записи происходящего прошлых игр - куда ходили, кого стреляли и насколько удачно все
                        прошло</p>
                    <br>
                    <a target="_blank" href="/aar/">
                        <div class="ts-button-block">
                            <button>Перейти ►</button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row row-item">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 row-item-pane-bg-gaming"> <!-- TODO: New bg image -->
                <div class="row-item-central-pane">
                    <p class="row-item-title">Документация</p>
                    <p>Сборник СОПов (стандартных операционных процедур), инструкций и просто полезных статей.</p>
                    <br>
                    <div class="ts-button-block">
                        <a target="_blank" href="/docs/"><button>Перейти ►</button></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
<br />