<div class="text-center content-wrapper">
    <div class="container-fluid">
        <h1 class="row-item-header">ДЛЯ ИГРЫ ВМЕСТЕ С НАМИ ВАМ ПОТРЕБУЕТСЯ:</h1>
        <div class="row row-item">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="col-sm-2 row-item-left-pane">
                    <div class="roundel img-a3"></div>
                </div>
                <div class="col-sm-8 row-item-right-pane">
                    <p class="row-item-title">ArmA3</p>
                    <p>Лицензионная версия игры приобретенная и/ или активированная в Steam Store</p>
                    <br>
                    <p><a class="ts-link" target="_blank"
                            href="http://store.steampowered.com/app/107410/">Купить в Steam ►</a></p>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row row-item">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="col-sm-2 row-item-left-pane">
                    <div class="roundel img-rules"></div>
                </div>
                <div class="col-sm-8 row-item-right-pane">
                    <p class="row-item-title">Прочитать правила сообщества</p>
                    <p>Наши правила предельно просты и понятны. Следуйте им, и ваш игровой опыт на сервере будет
                        приятным и положительным</p>
                    <br>
                    <p><a class="ts-link" target="_blank" href="/rules">Ознакомиться с правилами ►</a></p>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row row-item">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="col-sm-2 row-item-left-pane">
                    <div class="roundel img-ts3"></div>
                </div>
                <div class="col-sm-8 row-item-right-pane">
                    <p class="row-item-title">TeamSpeak3</p>
                    <p>Программа для голосового общения в сети Интернет по средствам технологии VoIP</p>
                    <br>
                    <p><a class="ts-link" target="_blank" href="https://www.teamspeak.com/downloads">Скачать
                            TeamSpeak3 ►</a></p>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row row-item">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="col-sm-2 row-item-left-pane text-center">
                    <div class="roundel img-ws"></div>
                </div>
                <div class="col-sm-8 row-item-right-pane">
                    <p class="row-item-title">Установить моды</p>
                    <p>Скопируйте ссылку на пресет и вставьте ее в разделе импорта в лаунчере игры, затем
                        подтвердите скачку модов</p>
                    <p><textarea readonly="readonly" onclick="this.focus();this.select()"
                            class="copyable-input">https://tacticalshift.github.io/preset/</textarea></p>
                    <br>
                    <p><a class="ts-link" target="_blank" href="/preset">Пресет ►</a></p>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row row-item">
            <div class="col-sm-12 text-center">
                <a href="src/img/import_preset.gif">
                    <img class="rounded img-fluid img-thumbnail" src="src/img/import_preset.gif">
                </a>
            </div>
        </div>

        <div class="text-center">
            <div class="container-fluid">
                <h3><small>Заходи и представься</small></h3>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <a class="col-sm-1 ts-img img-ts container"
                    href="ts3server://ts3.tacticalshift.ru?port=9987" meta-url="teamspeak"></a>
                <a class="col-sm-1 ts-img img-discord container" href="https://discord.gg/wkVgG5t" meta-url="discord"></a>
                <a class="col-sm-1 ts-img img-tg container" href="" meta-url="tg"></a>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
</div>
<br />