<div id="retro" class="text-center">
    <a href="" meta-url="retro" target="_blank">
        <picture>
            <source media="(max-width: 768px)" srcset="src/img/retro_banner_mobile.png">
            <img src="src/img/retro_banner.png" alt="Ретроспектива"/>
        </picture>
    </a>
</div>

<div id="demo" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators" width="1200px">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
        <li data-target="#demo" data-slide-to="5"></li>
        <li data-target="#demo" data-slide-to="6"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="src/screens/pic1.jpg" class="tales">
            <div class="carousel-caption2 .d-inline-block carousel-text">
                <h1>Кооперативные игры в Arma 3</h1>
                <h5>С использованием тактических доктрин на основе опыта реальных армий мира</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="src/screens/pic4.jpg" class="tales">
            <div class="carousel-caption2 .d-inline-block carousel-text">
                <h1>Играем собственные миссии</h1>
                <h5>С любовью созданные нашими участниками</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="src/screens/pic5.jpg" class="tales">
            <div class="carousel-caption2 .d-inline-block carousel-text">
                <h1>На основе реальных событий</h1>
                <h5>Начиная с 1950-х и до наших дней</h5>
            </div>
        </div>

        <div class="carousel-item">
            <img src="src/screens/pic7.jpg" class="tales">
            <div class="carousel-caption2 .d-inline-block carousel-text">
                <h1>... и альтернативной истории</h1>
                <h5>Холодная <strike>вода</strike> война стала горячей!</h5>
            </div>
        </div>

        <div class="carousel-item">
            <img src="src/screens/pic6.jpg" class="tales">
            <div class="carousel-caption2 .d-inline-block carousel-text">
                <h1>Вариативность фракций</h1>
                <h5>Восток, Запад, партизаны всех мастей!</h5>
            </div>
        </div>

        <div class="carousel-item">
            <img src="src/screens/pic3.jpg" class="tales">
            <div class="carousel-caption2 .d-inline-block carousel-text">
                <h1>... и географии</h1>
                <h5>Европа, Ближний Восток, Азия</h5>
            </div>
        </div>

        <div class="carousel-item">
            <img src="src/screens/pic2.jpg" class="tales">
            <div class="carousel-caption2 .d-inline-block carousel-text">
                <h1>Присоединяйся сейчас!</h1>
                <p>Проводим обучение с нуля и переподготовку кадров</p>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<div class="text-center">
    <div class="container-fluid">
        <h3><small>ПРИСОЕДИНЯЙСЯ К НАМ</small></h3>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <a class="col-sm-1 ts-img img-ts container" href="" meta-url="teamspeak"></a>
        <a class="col-sm-1 ts-img img-discord container" href="" meta-url="discord"></a>
        <a class="col-sm-1 ts-img img-tg container" href="" meta-url="tg"></a>
        <a class="col-sm-1 ts-img img-vk container" href="" meta-url="vk"></a>
        <!--<a class="col-sm-1 ts-img img-yt container"
            href="https://www.youtube.com/channel/UCUCo9u8-z0pLinUEWzSlPmg" meta-url="youtube"></a>-->

        <div class="col-sm-4"></div>
    </div>
</div>