
<div class="text-center content-wrapper">
    <div class="container-fluid">
        <div class="row row-item">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 row-item-pane-bg-gaming">
                <div class="row-item-central-pane">
                    <p class="row-item-title">Игровая компетенция</p>
                    <p>Мы используем различные моды, которые добавляют новые механики игры. Данное руководство содержит необходимый минимум, который необходимо знать для игры нашем сервере</p>
                    <br>
                    <a target="_blank" href="/competancy">
                        <div class="ts-button-block">
                            <button>Перейти ►</button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row row-item">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 row-item-pane-bg-gaming"> <!-- TODO: New bg image -->
                <div class="row-item-central-pane">
                    <p class="row-item-title">Командная работа</p>
                    <p>Командная игра - основа нашего сообщества. Изучи данное наставление и стань полноценным членом боевой команды!</p>
                    <br>
                    <a target="_blank" href="/teamwork">
                        <div class="ts-button-block">
                            <button>Перейти ►</button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <div class="row row-item">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 row-item-pane-bg-missions">
                <div class="row-item-central-pane">
                    <p class="row-item-title">Список миссий</p>
                    <p>Все миссии нашего сообщества были созданы нашими участниками. Если хочешь понять во что мы играем - просто посмотри о чем наши миссии!</p>
                    <br>
                    <a target="_blank" href="/list/">
                        <div class="ts-button-block">
                            <button>Перейти ►</button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
<br />