<div class="text-left content-wrapper">
    <div class="container-fluid">
        <h1 class="row-item-header text-center">ПРАВИЛА СООБЩЕСТВА</h1>
    </div>
    <div class="row row-item">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 row-item-left-pane">
            <p class="row-item-header text-center">✓ Что нужно делать</p>
            <ul class="list-group list-group-flush list-group-good">
                <li class="list-group-item">
                    <i>Не быть мудаком</i><br>
                    - Слушаться командиров <br>
                    - Соблюдать процедуры<br>
                    - Стараться быть полезным<br>
                    - Быть адекватным на всем протяжении игры
                </li>
            </ul>
        </div>
        <div class="col-sm-4 row-item-right-pane">
            <p class="row-item-header text-center">✗ Что НЕ нужно делать</p>
            <ul class="list-group list-group-flush list-group-bad">
                <li class="list-group-item">
                    <span class="row-list-item">Мелкие нарушения:</span>
                    <br><br>
                    - Нарушения Стандартных Операционных Процедур<br>
                    - Спам микрофона<br>
                    - Нарушение дисциплины<br>
                    - Нецелевое использование техники/снаряжения<br>
                    - Использование вражеского оружия<br>
                    - Игнорирование порядка занятия слотов<br>
                    - Случайный огонь по своим<br><br>
                    <b>✕ Мера пресечения</b>
                    </br>Предупреждение
                </li>
                <li class="list-group-item">
                    <span class="row-list-item">Средние нарушения:</span>
                    <br><br>
                    - Повторение мелких нарушений <br>
                    - Немые на критических ролях<br>
                    - Ре-слоттинг после гибели<br>
                    - Гранаты на старте, спам на радио<br>
                    - Пренебрежение принципами командной игры<br>
                    - Использование вражеской техники<br>
                    - Переодевание униформы, каски, разгрузки, если в условности миссии не указано
                    обратное<br>
                    - Оскорбление участников по национальному или религиозному признаку<br>
                    <br>
                    <b>✕ Мера пресечения</b>
                    </br>Бан на 1 день (игровой)
                </li>
                <li class="list-group-item">
                    <span class="row-list-item">Серьезные нарушения:</span>
                    <br><br>
                    - Повторение средних нарушений<br>
                    - Удаление маркеров поставленных на брифинге<br>
                    - Отказ следования приказам<br>
                    - Кража техники<br>
                    - Умышленный огонь по своим/убийство своих<br><br>
                    <b>✕ Мера пресечения</b>
                    </br> Бан на 7 дней (все игры недели)
                </li>
                <li class="list-group-item">
                    <span class="row-list-item">FUBAR</span>
                    <br><br>
                    - Подрывная деятельность<br><br>
                    <b>✕ Мера пресечения</b>
                    </br>"27 лет и 144 дня бана" (© Cambusta SecuCorp 2014) по лицензионной технологии
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-1"></div>