<div class="text-center content-wrapper">
    <div class="container-fluid">
        <div class="row row-item">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row-item-central-pane">
                    <h2>Игра в команде</h2>
                    <p>Мы не просто играем вместе, но делаем это как одна большая команда. Мы придерживаемся некоторых принципов и ожидаем от других игроков того же.</p>

                    <div class="text-p">
                        <h5 class="topic-header">Отзывчивость</h5>
                        <p>Не забывайте про свой микрофон! Играя по сети сложно понять - слышит ли тебя другой игрок, находиться ли он за компьютером, понимает ли происходящее, поэтому:</p>
                        <ul>
                            <li>всегда отзывайтесь если вас зовут;</li>
                            <li>сообщайте о выполнении действий о которых вас просили;</li>
                            <li>делитесь информацией о происходящем (увидели своих или врагов, нашли полезное снаряжение);</li>
                            <li>предупреждайте о намерении отойти на время;</li>
                            <li>не стесняйтесь уточнять - слышали ли вас другие.</li>
                        </ul>

                        <h5 class="topic-header">Цепь командования</h5>
                        <p>На уровне миссии всем руководит игрок взявший роль <highlight>Командира взвода (Platoon leader, PL)</highlight>. Он может оставаться в штабе, либо двигаться вместе с другими игроками по полю боя. Он планирует миссию, а затем руководит действиями отделений и поддержки используя ДВ связь.</p>

                        <p>На поле боя игроков ведут за собой <highlight>Командиры отделений (Squad leader, SL)</highlight>. Он решает поставленные перед ним задачи "на земле", используя подчиненных ему людей и средства. Он всегда двигается вместе со своим отделением, руководит действиями своих команд через КВ связь.</p>

                        <p>Для большей гибкости отделения разделяются на команды по 3-4 человека. <highlight>Лидер команды (Fireteam leader, FTL)</highlight> стоит во главе команды и руководит действиями каждого ее члена. Команда выполняет основную работу на поле боя - ведет бой, прикрывает союзников, зачищает здания и т.п</p>

                        <p class="info">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            Для каждого игрока авторитетом является его прямой руководитель (как правило это будет ваш FTL) - вы должны выполнять только приказы исходящие от него.
                        </p>

                        <p>Дополнительно команда может разбиваться на две двойки (натуральный пример - стрелок с РПГ и его помощник). Внутри двоек игроки действуют как напарники - ходят вместе, следят друг за другом, делятся боеприпасами и медикаментами и т.п. <highlight>Старший двойки</highlight> может давать ценные указания и координировать действия своего напарника. </p>

                        <h5 class="topic-header">ORBAT</h5>
                        <p>В начале игры командир отделения озвучивает состав команд, а также назначает лидеров команд. Затем лидеры команд озвучивают состав двоек и старших в них</p>
                        <p>Внимательно выслушайте эту информацию, запомните:</p>
                        <ul>
                            <li>в каком вы отряде;</li>
                            <li>в какой команде;</li>
                            <li>кто ее лидер (ваш <highlight>FTL</highlight>);</li>
                            <li>кто ваш <highlight>напарник</highlight>.</li>
                        </ul>
                        <p>Не стесняйтесь уточнить, если прослушали или не поняли.</p>

                        <h5 class="topic-header">Жизнь после смерти</h5>
                        <p>При выполнении условий миссии погибшие игроки могут вернуться в игру!</p>
                        <p>Если вы оказались среди возрожденных игроков, то придерживайтесь следующих правил:</p>
                        <ul>
                            <li>оставайтесь на месте и ждите инструкций от GSO (администратора сервера);</li>
                            <li>переключите КВ рацию на канал своего отряда;</li>
                            <li>по прибытию в зону операции - объединитесь с другими членами вашего отряда и выйдите на КВ связь с командиром отделения. Запросите у него дальнейшие указания!</li>
                        </ul>
                        <p>Главной вашей целью будет живым и здоровым добраться до своего отряда, поэтому не стесняйся уточнять как именно это можно сделать</p>

                        <h5 class="topic-header">Игровой день</h5>
                        <p>Обычно играется 2 миссии.</p>
                        <p>После выбора миссии на сервере один из игроков берет на себя роль руководителя операции (обычно занимает слот <highlight>Командир взвода/Platoon leader</highlight>). Затем слоты занимают командиры отделений и лидеры команд. И только после этого занимаются прочие слоты.</p>
                        <p>На первых играх сообщите, что вы новичок и попросите выделить вам подходящую роль. Как правило вам выдадут слот <highlight>Стрелок/Rifleman</highlight> - эта роль не обременена лишей ответственностью и позволит вам ознакомится с форматом наших игр.</p>
                        <p>Детальное описание структуры игрового события можно изучить на <a target="_blank" href="https://tacticalshift.ru/docs/Docs/documentation_event_day.html">портале документации <i class="fa fa-external-link" aria-hidden="true"></i></a>.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
